<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Gutschrift</title>
        <meta name="description" content="Rechnung vom {{invoice.date}}">
        <meta name="author" content="{{from.name}}">
    </head>
    <body>
        <div>
            <table class="adressTable">
                <tr>
                    <td class="small">{{from.name}}, {{from.street}}, {{from.postcode}} {{from.city}}</td>
                </tr>
                <tr><td>{{to.name}}</td></tr>
                <tr><td>{{to.street}}</td></tr>
                <tr><td>{{to.postcode}} {{to.city}}</td></tr>
            </table>
        </div>

        <div class="section">
            <table class="infoTable">
                <tr>
                    <td>Gutschriftnummer <b>{{invoice.credit_number}}</b></td>
                    <td>Kundennummer: {{invoice.customer_number}}</td>
                </tr>
                <tr>
                    <td>Gutschrift zu Rechnung {{invoice.invoice_number}}</td>
                </tr>
                <tr>
                    <td class="small">Das Rechnungsdatum entspricht dem Leistungsdatum.</td>
                    <td>Rechnungsdatum: {{invoice.date}}</td>
                </tr>
            </table>
        </div>

        <div class="section">
            <table class="invoiceTable">
                <thead>
                    <tr>
                        <td>Pos</td>
                        <td>Beschreibung</td>
                        <td>Anzahl</td>
                        <td>Einzelpreis</td>
                        <td>Steuersatz</td>
                        <td>Netto</td>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                    <tr>
                        <td>{{index}}</td>
                        <td>{{{name}}}</td>
                        <td>{{amount}}</td>
                        <td class="nowrap">{{net_price}} {{@root.currency}}</td>
                        <td class="nowrap">{{tax_rate}} %</td>
                        <td class="nowrap">{{total_net_price}} {{@root.currency}}</td>
                    </tr>
                    {{/items}}
                    <tr class="tfoot">
                        <td class="padrow"></td>
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3"> Netto gesamt</td>                    
                        <td class="nowrap" colspan="2">{{totals.net}} {{@root.currency}}</td>                    
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3"> Umsatzsteuer 19%</td>                    
                        <td class="nowrap" colspan="2">{{totals.tax}} {{@root.currency}}</td>                    
                    </tr>
                    <tr class="tfoot">
                        <td class="noborder"></td>
                        <td class="noborder"></td>
                        <td colspan="3"> Gutschriftsbetrag</td>                    
                        <td class="nowrap" colspan="2">{{totals.gross}} {{@root.currency}}</td>                    
                    </tr>                                
                </tbody>
            </table>
        </div>
        
    </body>
</html>